.title{
    font-size: 13vw;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 400;
    margin-top: 6%;
    text-align: center;
}